name: Build refol.general Ansible Collection

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/release.yml'
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.tag.outputs.tag }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install Ansible
        run: |
          python -m pip install --upgrade pip
          pip install ansible

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for tagging

      - name: Generate build tag
        id: tag
        run: |
          DATE=$(date +'%Y%m%d')
          COUNT=$(git tag --list "build-$DATE.*" | wc -l)
          TAG="build-$DATE.$((COUNT+1))"
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      - name: Create Git tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag ${{ steps.tag.outputs.tag }}
          git push origin ${{ steps.tag.outputs.tag }}

      - name: Checkout source at tag
        uses: actions/checkout@v3
        with:
          ref:  ${{ steps.tag.outputs.tag }}

      - name: Build Ansible Collection
        run: ansible-galaxy collection build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: collection
          path: refol-general-${{ steps.tag.outputs.tag }}.tar.gz
